.button-border, .ant-btn{
    border: solid 2px #4C6370 !important;
    border-radius: 0 !important;
    padding: 0.7em 0.7em;
    width: max-content;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.41) !important;
    color: #4C6370 !important;
    font-size: 16px;
    text-transform: uppercase;
}

.button-fill, .ant-btn-primary{
    background: #97C6E1 !important;
    padding: 0.7em 0.7em;
    width: max-content;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.41) !important;
    color: #4C6370 !important;
    font-size: 16px;
    text-transform: uppercase;
    border: none !important;
}

.button-border:hover, .ant-btn:hover{
    border-color: #97C6E1 !important;
}

.button-fill:hover, .ant-btn-primary:hover{
    color: #97C6E1 !important;
    background: #4C6370 !important;  
}

.button-container{
    margin: auto;  
}