.form-item{
    width: 70%;
    margin: auto;
    margin-bottom: 1em;
    /* display: flex;
    flex-direction: column; */
}

input{
    border: none;
    border-bottom: solid 2px #4C6370;
    padding: 1%;
    width: 90%;
    background: transparent;
}

label{
    color: #4C6370;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.ant-select{
    display: inherit !important;
    border-bottom: solid 2px #4C6370 !important;
    width: 90% !important;
}

.ant-select-selection{
    padding: 1%;
    border: none !important;
    background: transparent;
}

.ant-select-selection__rendered{
    margin: 0 !important;
}