input{
    border: none;
    border-bottom: solid 2px #4C6370;
    padding: 1%;
    width: 90%;
    background: transparent;
}

label{
    color: #4C6370;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-item{
    width: 70%;
    margin: auto;
    margin-bottom: 1em;
}