@import url("components/all.css");
@import url("utils/all.css");
@import '~antd/dist/antd.css';
@import '~react-week-calendar/dist/style.css';

html{
    font-family: HiraKakuPro-W3;
    font-size: 16px;
    color: #4C6370;
}

body{
    background-image: url(../img/Fondo.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media (max-width: 950px){
    body{
        background: none;
        background-color: #4C6370;
    }
}