.container-box{
    margin: 7% 0 0;
}

.box{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.41);
    padding: 1em 1em 1em 1em;
}

.box-blue{
    width: 50%;
    margin: auto;
    background: #97C6E1;
    margin-top: 5%;
}

.box-brown{
    background: #E1C0A2;
    width: 240px;
    margin: 1em;
    max-height: 180px;
    text-align: center;
}

.box-white{
    background: white;
    border: solid 1px #4C6370;
    width: 150px;
    display: flex;
    margin: 0.5em;
    align-items: center;
}

.box-brown p:nth-child(2) {
    margin: 20px 0 0 0;
}
