.ant-fullcalendar-header {
    display: flex;
    justify-content: flex-end;
}

.ant-fullcalendar-header .ant-select{
    width: 10% !important;
}

.ant-fullcalendar-header .ant-select-selection{
    width: 100%;
}

.ant-fullcalendar-header .ant-radio-button-wrapper-checked{
    border-color: #4C6370 !important;
    color: #4C6370 !important;
}

.ant-fullcalendar-header .ant-radio-button-wrapper:hover{
    color: #97C6E1 !important;
}

.ant-fullcalendar-cell{
    overflow-y: scroll;
}

.ant-fullcalendar-selected-day .ant-fullcalendar-date, 
.ant-fullcalendar-cell .ant-fullcalendar-date:hover{
    background: #97C6E1 !important;
}

.ant-fullcalendar-value{
    color: #4C6370 !important;
}

.ant-fullcalendar-today .ant-fullcalendar-date{
    border-top-color: #4C6370 !important;
}

.ant-radio-button-wrapper:hover{
    color: #97C6E1 !important;
}
