.dossierStudent-container{
    /* background: #97C6E1; */
    /* box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.41); */
    margin-top: 1em;
    padding: 0.5em;
}

.dossierStudent-container-item{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.dossierStudent-container-item h2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

.dossierStudent-container-item div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
}