.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: white;
}

.header div{
    display: inline-flex;
}

.header .language-container{
    margin: 0;
}