.home-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 10px;
}

.home-buttons button{
    margin: 0.5em;
}

.home-boxes{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.animals-content, .avatars-content{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

.animals-content .icon, .avatars-content .icon{
    width: 70px !important;
    height: 70px !important;
}