.testForm-container{
    display: flex;
    justify-content: space-around;
}

.testForm-container-formTest, .testForm-container-formQuestion{
    width: 50%;
    padding: 2em;
}

.testForm-container-formTest .form-item, .testForm-container-formQuestion .form-item{
    width: 100%;
}

.testForm-container-formQuestion .form-item{
    display: flex;
    flex-direction: column;
}

.testForm-container-formQuestion .form-item div{
    width: 100%;
}

.testForm-container-formQuestion .form-item .addQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}