.usersList-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-white{
    height: 100%;
}

.box-white .icon{
    width: 70px;
    height: 70px;
}

.box-white p:nth-child(2){
    margin-top: 10px;
    margin-bottom: 0;
    color: #4C6370;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;    
}
